/* extensions/product-tier-pricing/assets/tier-pricing.css */
.sparkly-tier-pricing__price {
  font-size: var(--sparkly-tier-price-font-size, 2.75rem);
  font-weight: var(--font-weight-body-bold, 500);
}

.sparkly-tier-pricing__price s {
  font-weight: 400;
  opacity: 0.6;
  margin-right: 0.5em;
}

.sparkly-tier-pricing__message {
  font-size: 0.9em;
  opacity: 0.8;
}

.sparkly-tier-pricing__group-links {
  font-size: 0.85em;
  opacity: 0.75;
}

.sparkly-tier-pricing__group-links a {
  text-decoration: underline;
}
